.socials a {
	behavior: url(js/PIE.htc);
	position: relative;
	margin-right: 9px;
}

#form .invalid .error-message, 
#form .empty .empty-message {
	display: block;

}

#form .error-message, 
#form .empty-message {
	display: none;
}


a.gal:hover img {
	filter:progid:DXImageTransform.Microsoft.Alpha(opacity=20);
}

.bottom_block .title {
	letter-spacing: -1px;
}


.block1 .title {
	position: relative;
	top: 1px;
}